.container
    %h2 All Boards
    %div
        - @boards.each do |board|
            %div
                %div
                    = board.name
                %div
                    = board.description