.task-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.task-thumbnail {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 20px auto;
}
.task-description {
  margin-top: 20px;
  font-size: 16px;
}
.task_description-show {
  border-radius: 10px;
  background: #F4F4F4;
  margin-top: 35px;
  padding: 20px 16px 26px 15px;
  font-size: 14px;
  word-break: break-all;
}
.task_description, .task_deadline {
  margin-top: 6px;
  font-size: 14px;
  opacity: 0.4;
  word-break: break-all;
}
.task_deadline {
  margin-bottom: 29px;
}
.task_eyecatch {
  margin-bottom: 27px;
  height: 170px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}
.task_eyecatch img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}
.task_eyecatch-show {
  margin-top: 32px;
  height: 170px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}
.task_eyecatch-show img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}